#entireCheckOutPage {
    min-width: 800px;
    min-height: min-content;
    width: 80%;
    height: 75%;
    margin: 5% auto;
    font-family: rg-ember;
}

#checkoutHeader {
    display: flex;
    align-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(to bottom,#ffffff,#e6e6e6);
    border: 1px solid rgb(215, 215, 215);

}

#checkoutLogo {
    max-height: 80px;
}

#body {
    width: 100%;
    height: max-content;
    display: flex;
}

#Address {
    width: 80;
    border-bottom: 1px solid rgb(226, 226, 226);
}

#leftSideOfCheckOut {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
}

#orderSummaryText {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    box-sizing: border-box;
    padding: 5px;
}

#checkoutButtonRightSide {
    width: 18%;
    box-sizing: border-box;
    padding: 5px;
    height: max-content;
    border: 1.5px solid rgb(226, 226, 226);
    margin-left: 2%;
    margin-top: 10px;
}

#placeOrderButton {
    background: linear-gradient(to bottom, #f8e3ad,#EEBA37);
    border-color: rgba(255, 214, 214, 0.923);
    border-radius: 3px;
    box-sizing: border-box;
    height: 36px;
}

#placeOrderButton:hover {
    background: #f9c43d;
}

#placeOrderButton:active {
    background: linear-gradient(to top, #f8e3ad,#EEBA37);
}