
#pleasejustfixbgcolor {
    background-color: #f7f7f7;
    height: 100%;
    height: max-content;
}

#mainBody {
    width: 1440px;
    margin: 0 auto;
    display: inline-block;
}

#topPartOfBG {
    width: 1440px;
    height: fit-content;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#backgroundDiv {
    width: 1440px;
    height: max-content;
    z-index: 0;
    display: flex;
    margin: 0 auto;
}

#forestImage {
    display: flex;
    position: absolute;
    height: auto;
    margin: 0 auto;
    width: 1440px;
    min-width: 1440px;
}


#gridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1440px;
    max-width: 1440px;
    padding: 0 5%;
    place-items: center;
    box-sizing: border-box;
    margin:0px 0px 50px;
}

#cat1Carousel {
    display: flex;

}

#top8random, #exploreOurCatalog {
    color: rgb(0, 0, 0);
    z-index: 11;
    box-sizing: border-box;
    padding: 50px 5px;
    font-size: 32px;
    font-family: ember;

}



