
#pleasejustfixbgcolor {
    background-color: #f7f7f7;
    height: 100%;
    height: max-content;
}

#mainBody {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

#topPartOfBG {
    width: 1440px;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: 0;
    position: absolute;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    animation: linear 0.1s step-end 0.1s 0 forwards none;
}
#backgroundDiv {
    width: 1440px;
    height: max-content;
    background-repeat: no-repeat;
    background-size: inherit;
    z-index: 0;
    position: absolute;
    display: flex;
    margin: 0 auto;
    animation: linear 0.1s step-end 0.1s 0 forwards none;
}

#forestImage {
    display: flex;
    position: absolute;
    height: auto;
    margin: 0 auto;
    left: -9999px;
    right: -9999px;
    width: 1440px;
    min-width: 1440px;
}


#gridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1440px;
    max-width: 1440px;
    padding: 0 5%;
    place-items: center;
    box-sizing: border-box;
    margin: 300px 0px 50px;
}

#cat1Carousel {
    display: flex;

}

