#daddyCarouselContainer {
    display: flex;
    position: relative;
    width: 1440px;
    height: 300px;
}

.slideBox {
    width: fit-content;
    height: fit-content;
}


#backButtonCarousel, #forwardButtonCarousel {
    background: transparent;
    border-radius: 6px;
    box-shadow: none;
    width: 20px;
    height: 50%;
    top:25%;
    position: absolute;
    z-index: 1;
    border: 2px solid rgba(179, 179, 179, 0.04);
}

#forwardButtonCarousel {
    right: 0;
}
#backButtonCarousel {
    left:0
}

#sliderContainer, .horizontalSlider___281Ls, .carousel__slider, .carousel__slider--horizontal {
    background: white;
}