#containerBox {
    display: flex;
    width: 250px;
    height: 300px;
    z-index: 1;
    background-color: white;
    flex-wrap: wrap;
    margin: 0;
    box-sizing: border-box;
    padding: 4px;
}
