
@font-face {
    src: url(./fonts/Ember/Amazon-Ember-Medium.ttf);
    font-family: ember;
}

@font-face {
    src: url(./fonts/Ember/AmazonEmber_Th.ttf);
    font-family: emberthin;
}

@font-face {
    src: url(./fonts/Ember/AmazonEmber_Lt.ttf);
    font-family: emberheavyli;
}

@font-face {
    font-family: rg-ember;
    src: url(./fonts/Ember/AmazonEmber_Rg.ttf);
}
