
#root {
    justify-content: center;
    text-align: center;
    -webkit-text-size-adjust: 100%;
}

#titleHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

#titleHeader img {
    height: 65px;
}

#outerDiv {
    position: relative;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
}




#signUpForm {
    position: relative;
    display: block;
    border: 1px black solid;
    border-radius: 4px;
    margin: 0 auto;
    width: fit-content;
    font-size: 24px;
    padding: 20px 26px;
    text-align: start;
}

#signUpForm h1 {
    font-family: emberthin;
    font-size: 28px;
    text-align: start;
    margin: 0 0px 10px 0;
    padding: 0 0 4px;
    font-weight: 1000000;
    width: 296px;
}

input {
    font-family: ember;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    outline: 0;
    line-height: 19px;
    display: inline-block;
    user-select: none;
    width: 294px;
    padding: 3px 7px;
    transition: all 0.1s linear;
}

input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

#infoLi {
    display: flex;
    list-style-type: none;
    font-size: 12px;
}

#infoLi i {
    margin-top: 6px;
    margin-right: 6px;
    color: rgb(71, 166, 255);
}

#infoP {
    display: flex;
    margin:0;
    margin-top: 6px;
}
#error {
    display:flex;
    list-style-type: none;
    font-family: ember;
    font-size: 12px;
    margin-top: 10px;
    color: #C40000;
}

#error i {
    margin-right: 6px;
}

label {
    display: inline-block;
    width: 294px!important;
    font-family: ember, Arial, Helvetica, sans-serif ;
    font-size: 13px;
    text-align: start;
    margin-top: 13px;
    transition: all 0.1s linear;
}

#signInPTag {
    margin-top: 26px;
    font-family: ember;
    font-size: 13px;
    width: 294px;
}

#signUpButton {
    -webkit-text-size-adjust: 100%;
    display: inline-block;
    padding: 3px 1px;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f8e3ad,#EEBA37);
    display: inline-block;
    box-sizing: border-box;
    width: 294px;
    margin-top: 26px;
    box-shadow: 0px 1px 1px gray;
    transition: all 0.1s linear;
    cursor: pointer;
}

#signUpButton:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
#signUpButton:hover {
    box-shadow: 0px 1px 1px gray;
}

#signUpButton:active {
    background: linear-gradient(to top,#f8e3ad,#EEBA37);
}

#signInLink{
    text-decoration: none;
    color: rgb(0, 136, 226);
}

#signInLink:hover {
    text-decoration: underline;
}




